includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 8
    paths:
        - app
        - tests
    bootstrapFiles:
        - bootstrap/app.php
    ignoreErrors:
    excludePaths:
        - **/routes.php
